* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1920 - 320));
}

body,
button,
input {
	font-size: 1em;
	line-height: 1.5em;
}

body,
input {
	color: #171717;
}

body,
.search-bar {
	display: flex;
}

body {
	background: #f1f1f1;
	height: 100vh;
	font-family: "Open Sans", sans-serif !important;
}

.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
	transition: all 0.25s ease-out;
}

.search-bar input,
.search-btn {
	width: 3em;
	height: 3em;
}

.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}

.search-bar,
.search-bar input:focus,
.search-bar input:valid {
	width: 100%;
}

.search-bar input:focus,
.search-bar input:not(:focus)+.search-btn:focus {
	outline: transparent;
}

.search-bar {
	margin: auto;
	padding: 1.5em;
	justify-content: center;
	max-width: 30em;
}

.search-bar input {
	background: transparent;
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.4em #171717 inset;
	padding: 0.75em;
	transform: translate(0.5em, 0.5em) scale(0.5);
	transform-origin: 100% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}

.search-bar input:focus,
.search-bar input:valid {
	background: #fff;
	border-radius: 0.375em 0 0 0.375em;
	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
	transform: scale(1);
}

.search-btn {
	background: #171717;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em, 0.25em) rotate(45deg) scale(0.25, 0.125);
	transform-origin: 0 50%;
}

.search-btn:before,
.search-btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}

.search-btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em #f1f1f1 inset;
	top: 0.75em;
	left: 0.75em;
	width: 1.2em;
	height: 1.2em;
}

.search-btn:after {
	background: #f1f1f1;
	border-radius: 0 0.25em 0.25em 0;
	top: 51%;
	left: 51%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.2em, 0) rotate(45deg);
	transform-origin: 0 50%;
}

.search-btn span {
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
}


/* Active state */

.search-bar input:focus+.search-btn,
.search-bar input:valid+.search-btn {
	background: #2762f3;
	border-radius: 0 0.375em 0.375em 0;
	transform: scale(1);
}

.search-bar input:focus+.search-btn:before,
.search-bar input:focus+.search-btn:after,
.search-bar input:valid+.search-btn:before,
.search-bar input:valid+.search-btn:after {
	opacity: 1;
}

.search-bar input:focus+.search-btn:hover,
.search-bar input:valid+.search-btn:hover,
.search-bar input:valid:not(:focus)+.search-btn:focus {
	background: #0c48db;
}

.search-bar input:focus+.search-btn:active,
.search-bar input:valid+.search-btn:active {
	transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
	body,
    input {
		color: #f1f1f1;
	}

	body {
		background: #171717;
	}

	.search-bar input {
		box-shadow: 0 0 0 0.4em #f1f1f1 inset;
	}

	.search-bar input:focus,
    .search-bar input:valid {
		background: #3d3d3d;
		box-shadow: 0 0 0 0.1em #3d3d3d inset;
	}

	.search-btn {
		background: #f1f1f1;
	}
}

.main-title {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
}

.panel-default {
	position: relative;
}

.score {
	font-size: 12px;
	font-style: italic;
	margin-bottom: 5px;
}

.title {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0.5px;
	color: rgba(0, 0, 0, 0.75);
}

.search-info-container {
    display: flex;
    justify-content: space-between;
}

.search-info-left, .search-info-right {
    flex-grow: 1;
    flex-basis: 0;
}
.search-info-right {
    text-align: right;
}

.input-lg, .input-group-btn, .btn-lg {
	height: 55px !important;
}

.input-group-btn > .btn-lg {
    width: 65px !important;
    border: 0px !important;
}

.btn-no-boost-hover:hover {
    background-color:rgb(47, 112, 167);
}

.btn-imdb {
    background: #ffe100 !important;
}

.btn-imdb-hover:hover {
    background-color:rgb(243, 206, 19) !important;
}

.btn-imdb > div, .btn-imdb > i {
    color: #000
}

.btn-tomatoes {
    background: #fa320a !important;
}

.btn-tomatoes-hover:hover {
    background-color:rgb(204, 37, 4) !important;
}

.btn-robots {
    background: #00a000 !important;
}

.btn-robots-hover:hover {
    background-color:rgb(0, 128, 0) !important;
}

.boost-tag {
	font-size: 8px;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 2px;
	letter-spacing: 0.5px;
}

.btn-lg > i {
	font-size: 22px;
}

.end-margin {
    margin: 50px !important;
}

.instructions-header {
	font-size: 36px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

.instructions {
    margin: 60px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.instructions ul {
    max-width: 500px !important;
}

.instructions-button {
    height: 100% !important;
}

.instructions > ul li {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 30px 0px;
    list-style-type: none;
}

.instructions > li {
    padding-left: 0;
    margin-left: 0;
}

.instructions > ul li div button {
    margin-right: 20px;
    width: 65px !important;
    border: 0px !important;
    cursor: default;
    outline: none;
}

.instructions > ul li div button {
    margin-right: 20px;
    width: 65px !important;
    border: 0px !important;
    cursor: default;
    outline: none;
}

.explanation-header {
    font-size: 18px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	margin-bottom: 5px;
}

.btn-lg:focus {
    outline: none !important;
}

.btn-lg:active {
    outline: none !important;
}

.btn-instr:active, .btn-instr:focus, .btn-instr:hover {
    border-style: outset !important;
    box-shadow: none !important;
}

.btn-no-boost-instr:hover, .btn-no-boost-instr:focus, .btn-no-boost-instr:active {
    background-color: #428bca !important;
}